{% extends "PKKFrontBundle::layout.html.twig" %}

{% block title %}PKK{% endblock %}

{% block body %}
	<div ng-cloak>
		<navbar></navbar>

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 welcome">
					<p><span>Põlevkivi Kompetentsikeskus</span> koondab endas maailma parima põlevkivi kaevandamise, -töötlemise ja -energeetika alase valdkondliku oskusteabe ja selle arendamisvõimekuse.</p>
					<p><span><em>Siin saate otsida Teile sobivat kursust ja koguda teadmisi.</em></span></p>
				</div>
			</div>
		</div>

        <div class="container content" ui-view></div>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">Copyright &copy; 2015 Põlevkivi Kompetentsikeskus. Kõik õigused on kaitstud.</p>
		</div>
	</footer>
{% endblock %}
