//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'vendor/bourbon/_bourbon.scss';

//----------------------------------*\
// Twitter Bootstrap
//----------------------------------*/

@import 'vendor/bootstrap.scss';
//@import 'vendor/bootstrap/bootstrap-compass.scss';
//@import 'vendor/bootstrap/bootstrap-mincer.scss';
//@import 'vendor/bootstrap/bootstrap-sprockets.scss';

//----------------------------------*\
// MIXINS
//----------------------------------*/

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_vars.scss';
@import 'modules/_normalize.scss';
@import 'modules/_icons.scss';
@import 'modules/_form.scss';

//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/_main.scss';
@import 'partials/_navbar.scss';
@import 'partials/_welcome.scss';
@import 'partials/_content.scss';

//----------------------------------*\
// CONTENT
//----------------------------------*/

@import 'content/_courses.scss';
@import 'content/_page.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_misc.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';
@import 'modules/_retina.scss';
@import 'modules/_print.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/angular-toastr.scss';
@import 'vendor/angular/ngBusy.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.wellA[ui-view]{
  height: 65px;
}

.container-bonus {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
