{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('DELETE', object) and admin.hasRoute('restore') %}
	{% if object.isDeleted %}
		<a href="{{ admin.generateObjectUrl('restore', object) }}" class="btn btn-sm btn-default restore_link"
		   title="Restore">
			<i class="fa fa-refresh"></i>
			Restore
		</a>
	{% endif %}
{% endif %}
