{% extends admin.getTemplate('base_list_field') %}

{% block field %}
	{% spaceless %}
		{% if value %}
			<span class="label label-danger">deleted</span>
		{% else %}
			<span class="label label-success">available</span>
		{% endif %}
	{% endspaceless %}
{% endblock %}
