.courses {

	h1,
	h3 {
		color: #870042;
		font-size: 48px;
		font-weight: 100;
		margin: 10px 0 20px 0;
	}

	.col-md-12,
	.container-fluid {
		padding: 0;
	}

	.container-fluid {
		margin-bottom: 40px;
	}

	.course {
		background: #FFF linear-gradient(to bottom, #FFF, #EFEFEF);
		border-radius: 1px;
		box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 1px 3px rgba(0, 0, 0, .10);
		height: 225px;
		margin-bottom: 15px;
		overflow: hidden;
		padding: 20px;
		position: relative;

		h4 {
			color: #870042;
			font-size: 26px;
			font-weight: 300;
			margin-top: 0;
			transition: all 250ms ease-in-out;
		}

		.description {
			color: #666;
			font-size: 12px;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
			transition: all 250ms ease-in-out;
		}

		.actions {
			bottom: 0;
			height: 45px;
			left: 0;
			position: absolute;
			right: 0;

			.btn {
				border: 0;
				border-radius: 0;
				bottom: 0;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 0 3px rgba(0, 0, 0, .10);
				font-size: 16px;
				font-weight: 400;
				height: 45px;
				line-height: 45px;
				padding: 0;
				position: absolute;
				width: 50%;

				&.full-width {
					width: 100%;
				}

				&.btn-success,
				&.btn-danger,
				&.btn-default {
					background: #FFF linear-gradient(to bottom, #FFF, #EFEFEF);
					color: #777;
					left: 0;
					right: auto;
					text-shadow: 0 1px 0 #FFF;

					&:hover {
						background: #FFF;
						color: #666;
					}
				}

				&.btn-success,
				&.btn-danger {
					left: auto;
					right: 0;

					&.green {
						box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 0 3px rgba(0, 0, 0, .10), inset 0 0 45px rgba(0, 153, 0, .2);
						color: #090;

						&:hover {
							color: #0A0;
						}
					}
				}

				&.btn-success {
					box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 0 3px rgba(0, 0, 0, .10), inset 0 0 45px rgba(0, 153, 0, .2);
					color: #090;

					&:hover {
						color: #0A0;
					}
				}

				&.btn-danger {
					box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 0 3px rgba(0, 0, 0, .10), inset 0 0 45px rgba(153, 0, 0, .2);
					color: #900;

					&:hover {
						color: #A00;
					}
				}
			}
		}

		.overlay {
			background: rgba(255, 255, 255, .7);
			cursor: default;
			height: 100%;
			left: 0;
			padding: 20px;
			position: absolute;
			top: 100%;
			width: 100%;
			transition: top 250ms ease-in-out;

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				color: #870042;
				font-size: 16px;
				list-style: none;
				margin: 0;
				padding: 0;

				.glyphicon {
					color: #AAA;
					margin-right: 5px;
				}
			}
		}

		&:hover {

			.overlay {
				top: 0;
			}

			h4,
			.description {
				filter: blur(5px);
				-webkit-filter: blur(5px);
			}
		}
	}
}

.course-read {
	color: #555;
	font-size: 18px;
	line-height: 1.8em;

	h1 {
		color: #870042;
		font-size: 48px;
		font-weight: 100;
		margin: 10px 0 20px 0;
	}

	h2 {
		color: #870042;
		font-size: 32px;
		font-weight: 100;
	}

	p {
		text-align: justify;
	}

	span.label {
		background: #CCC;
		border-color: #870042 !important;
		border-radius: 1px;
		color: #666;
		-webkit-font-smoothing: antialiased;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .15);
	}

	.row {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.btn {
		font-weight: 600;
		-webkit-font-smoothing: antialiased;
	}

	span.data {
		color: #870042;
		font-size: 22px;
		font-weight: 300;
	}
}
