.page {
	color: #555;
	font-size: 18px;
	line-height: 1.8em;

	h1 {
		color: #870042;
		font-size: 48px;
		font-weight: 100;
		margin: 10px 0 20px 0;
	}

	h2 {
		color: #870042;
		font-size: 32px;
		font-weight: 100;
	}

	p {
		text-align: justify;
	}
}

.me {

	.well {
		background: #FFF;
		border: 0;
		border-radius: 0;
		box-shadow: 0 1px 50px rgba(0, 0, 0, .05), 0 0 25px rgba(0, 0, 0, .05), 0 1px 3px rgba(0, 0, 0, .05);
	}
}
