{% extends "::base.html.twig" %}

{% block description %}{% endblock %}

{% block stylesheets %}
{% 		if app.environment == 'dev' %}
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% 		else %}
	<link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}">
{% 		endif %}
{% endblock %}

{% block head %}
	<base href="{{ path('pkk_front_home') }}">
{% endblock %}

{% block javascripts_head %}
{% 		if app.environment == 'dev' %}
{% 		else %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
{% 		endif %}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script src="//use.typekit.net/hse1rjc.js"></script>
	<script>try{Typekit.load();} catch(e){}</script>
{% endblock %}

{% block javascripts_body %}
{% 		if app.environment == 'dev' %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js" data-main="/src/js/config"></script>
	<script src="//localhost:35729/livereload.js"></script>
{% 		else %}
	{#<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>#}
	{#<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>#}
	{#<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>#}
	{#<script src="{{ asset('assets/js/main.min.js') }}"></script>#}
	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js" data-main="/src/js/config"></script>
	<script src="//localhost:35729/livereload.js"></script>
{% 		endif %}
{% endblock %}

{% block body %}{% endblock %}
