audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	margin-bottom: 60px;
	min-width: 320px;
}

.form-control {
	background: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 1px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	font-size: 16px;
	height: 40px;
	padding: 8px 12px;

	&[type="text"]:hover,
	&[type="password"]:hover,
	&[type="email"]:hover,
	textarea:hover {
		border: 1px solid #BBB;
	}

	&[type="text"]:focus,
	&[type="password"]:focus,
	&[type="email"]:focus,
	textarea:focus {
		border-color: rgba(135, 0, 66, .3) !important;
		box-shadow: 0 0 4px rgba(135, 0, 66, .3);
	}
}

.btn {
	border: 0;
	border-radius: 1px !important;
	font-size: 14px;
	outline: none !important;
	padding: 10px 25px;

	.glyphicon {
		margin-right: 5px;
	}

	&.btn-sm {
		line-height: inherit;
		padding: 6px 11px;
	}

	&.btn-default {
		background: #FFF;
		border-color: transparent;
		box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
		color: #666;

		&.btn-sm {
			box-shadow: 0 1px 25px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1);
		}

		&:focus,
		&:hover {
			background: #870042 linear-gradient(to bottom, #99004B, #870042);
			border-color: #870042;
			color: #FFF;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
		}
	}

	&.btn-primary {
		background: #9A004B linear-gradient(to bottom, #99004B, #870042);
		border: 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .4);
		color: #FFF;
		outline: none;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .15);

		&:focus,
		&:hover {
			background: #A80052 linear-gradient(to bottom, #A80052, #9A004B);
		}
	}

	&:active {
		outline: none !important;
	}
}

.footer {
	font-style: italic;
	margin: 50px 0 0 0;
	padding: 50px 0;
}
