.navbar-default {
	background: #FFF linear-gradient(to bottom, #FFF, #EFEFEF);
	border: 0;
	border-radius: 1px;
	box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 25px rgba(0, 0, 0, .10), 0 1px 3px rgba(0, 0, 0, .10);
	height: 60px;
	line-height: 60px;
	margin: 25px 0 50px 0;

	a.navbar-brand {
		height: 40px;
		padding: 10px 30px;
	}

	.navbar-nav {

		a {
			color: #777;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
			height: 60px;
			line-height: 60px;
			outline: none;
			padding: 0 20px;

			&:focus {
				color: #777;
			}

			&:hover,
			&:active {
				background: #9A004B linear-gradient(to bottom, #99004B, #870042);
				border: 0;
				box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
				color: #FFF !important;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
			}
		}

		&.navbar-right {

			a {
				background: #FFF;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);

				&:focus {
					background: #FFF;
					box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
					color: #777;
				}

				&:hover,
				&:active {
					background: #9A004B linear-gradient(to bottom, #99004B, #870042);
					border: 0;
					box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2);
					color: #FFF !important;
					text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
				}
			}
		}
	}
}
