/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */
body {
  font: 400 14px 'proxima-nova', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased; }

.content-wrapper,
.right-side,
.login-page,
.register-page {
  background: radial-gradient(circle farthest-side at 100% 100%, #FFF, #EFEFEF 80%, #EEE); }

a {
  color: #870042;
  font-weight: 600; }
  a .select2-choice {
    font-weight: 400; }
  a .btn-danger,
  a .btn-success {
    color: #FFF; }
  a:hover, a:active, a:visited {
    color: #9B004E;
    text-decoration: underline; }

.btn {
  border-radius: 1px !important; }
  .btn.btn-sm {
    line-height: inherit;
    padding: 6px 11px; }
  .btn.btn-default {
    background: #FFF;
    border-color: transparent;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
    color: #444 !important; }
    .btn.btn-default.btn-sm {
      box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.1); }
    .btn.btn-default:focus, .btn.btn-default:hover {
      background: #870042 linear-gradient(to bottom, #99004B, #870042);
      border-color: #870042;
      color: #FFF !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .btn.btn-default:active {
      background: #870042 linear-gradient(to bottom, #870042, #870042);
      border-color: #870042;
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
      color: #FFF !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  .btn.btn-primary {
    background: #9A004B linear-gradient(to bottom, #99004B, #870042);
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    color: #FFF;
    outline: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .btn.btn-primary:focus, .btn.btn-primary:hover {
      background: #A80052 linear-gradient(to bottom, #A80052, #9A004B); }
    .btn.btn-primary:active {
      background: #9A004B linear-gradient(to bottom, #9A004B, #9A004B);
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3) !important; }

.btn-primary:hover,
.btn-primary:focus {
  background: linear-gradient(to bottom, #A80052, #9A004B); }

.form-control {
  background: #F5F5F5;
  border: 1px solid #DDD;
  border-radius: 1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 40px;
  padding: 8px 12px; }
  .form-control[type="text"]:hover, .form-control[type="password"]:hover, .form-control[type="email"]:hover,
  .form-control textarea:hover {
    border: 1px solid #BBB; }
  .form-control[type="text"]:focus, .form-control[type="password"]:focus, .form-control[type="email"]:focus,
  .form-control textarea:focus {
    border-color: rgba(135, 0, 66, 0.3) !important;
    box-shadow: 0 0 4px rgba(135, 0, 66, 0.3); }

.login-page .login-box-body {
  background: #FFF;
  border: 0;
  box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative; }
  .login-page .login-box-body .form-group .glyphicon {
    display: none; }
  .login-page .login-box-body .checkbox input[type="checkbox"],
  .login-page .login-box-body .checkbox-inline input[type="checkbox"],
  .login-page .login-box-body .radio input[type="radio"],
  .login-page .login-box-body .radio-inline input[type="radio"] {
    margin: auto 10px auto auto;
    position: inherit; }
  .login-page .login-box-body .alert {
    border-radius: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .login-page .login-box-body .btn {
    padding: 9px 25px; }
.login-page .login-logo {
  background: url(../images/logo_small.png) no-repeat center;
  font-weight: 100;
  text-indent: 9999px; }
.login-page .login-box-msg {
  font: 300 18px 'proxima-nova', Helvetica, Arial, sans-serif; }

.skin-pkk .main-header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .skin-pkk .main-header .navbar-toggle {
    color: #333; }
  .skin-pkk .main-header .navbar-brand {
    border-right: 1px solid #EEE;
    color: #333; }
  .skin-pkk .main-header > .navbar {
    background-color: #FFF;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1); }
    .skin-pkk .main-header > .navbar .nav > li > a {
      color: #333; }
      .skin-pkk .main-header > .navbar .nav > li > a:hover, .skin-pkk .main-header > .navbar .nav > li > a:active, .skin-pkk .main-header > .navbar .nav > li > a:focus {
        background: #870042 linear-gradient(to bottom, #99004B, #870042);
        border-color: #870042;
        color: #FFF;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .skin-pkk .main-header > .navbar .nav .open > a {
      background: #9A004B linear-gradient(to bottom, #A80052, #9A004B) !important;
      border-right-color: #9A004B !important;
      color: #FFF !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .skin-pkk .main-header > .navbar .navbar-custom-menu > .nav {
      margin-right: 10px; }
    .skin-pkk .main-header > .navbar .sidebar-toggle {
      color: #333; }
      .skin-pkk .main-header > .navbar .sidebar-toggle:hover {
        color: #999;
        background: #FFF; }
    .skin-pkk .main-header > .navbar > .sidebar-toggle {
      color: #333;
      border-right: 1px solid #EEE; }
    .skin-pkk .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
    .skin-pkk .main-header > .navbar .navbar-right > li > a {
      border-right-width: 0; }
    .skin-pkk .main-header > .navbar .dropdown-menu {
      background: #FFF;
      border: 0;
      border-radius: 1px;
      box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
      min-width: inherit; }
      .skin-pkk .main-header > .navbar .dropdown-menu > li > a:hover {
        background-color: #F5F5F5; }
    .skin-pkk .main-header > .navbar .sidebar-toggle {
      background: #870042 linear-gradient(to bottom, #99004B, #870042) !important;
      border-color: #870042 !important;
      color: #FFF !important;
      -webkit-font-smoothing: antialiased;
      height: 50px;
      line-height: 50px;
      overflow: hidden;
      padding: 0 18px;
      text-align: center;
      text-decoration: none; }
      .skin-pkk .main-header > .navbar .sidebar-toggle:hover {
        background: linear-gradient(to bottom, #A80052, #9A004B) !important; }
    .skin-pkk .main-header > .navbar .breadcrumb {
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0; }
      .skin-pkk .main-header > .navbar .breadcrumb li {
        color: #999;
        float: left;
        font-weight: 600;
        -webkit-font-smoothing: antialiased; }
        .skin-pkk .main-header > .navbar .breadcrumb li a:hover {
          color: #444;
          background: #F5F5F5; }
      .skin-pkk .main-header > .navbar .breadcrumb li + li:before {
        display: none; }
      .skin-pkk .main-header > .navbar .breadcrumb a {
        background: #FFF;
        box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
        color: #870042 !important;
        -webkit-font-smoothing: antialiased;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        padding: 0 18px; }
  .skin-pkk .main-header > .logo {
    background-color: #222;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #222;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: background-color 150ms ease-in-out; }
    .skin-pkk .main-header > .logo img {
      max-width: inherit;
      padding-bottom: 7px; }
    .skin-pkk .main-header > .logo > a {
      color: #333; }
    .skin-pkk .main-header > .logo:hover {
      background-color: #333; }
  .skin-pkk .main-header .navbar-custom-menu {
    margin-right: 0 !important; }
  .skin-pkk .main-header .navbar-nav {
    margin-right: 0 !important; }
    .skin-pkk .main-header .navbar-nav > li > a {
      background: #FFF;
      box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
      -webkit-font-smoothing: antialiased; }
  .skin-pkk .main-header li.user-header {
    background-color: #222; }
.skin-pkk .content-header {
  background: transparent;
  box-shadow: none;
  padding: 0; }
  .skin-pkk .content-header .navbar-nav {
    margin: 0; }
  .skin-pkk .content-header .navbar-default {
    background: none;
    border: 0;
    border-radius: 0;
    color: #999;
    font-weight: 400;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    margin: 0; }
    .skin-pkk .content-header .navbar-default .navbar-collapse,
    .skin-pkk .content-header .navbar-default .navbar-form {
      border: 0; }
    .skin-pkk .content-header .navbar-default .navbar-collapse {
      padding: 0; }
    .skin-pkk .content-header .navbar-default .nav > li > a {
      color: #666; }
      .skin-pkk .content-header .navbar-default .nav > li > a:hover, .skin-pkk .content-header .navbar-default .nav > li > a:active, .skin-pkk .content-header .navbar-default .nav > li > a:focus {
        background: #870042 linear-gradient(to bottom, #99004B, #870042);
        border-color: #870042;
        color: #FFF;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .skin-pkk .content-header .navbar-default .nav .open > a {
      background: #9A004B linear-gradient(to bottom, #A80052, #9A004B) !important;
      border-right-color: #9A004B !important;
      color: #FFF !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
    .skin-pkk .content-header .navbar-default .dropdown-menu {
      background: #FFF;
      border: 0;
      border-radius: 1px;
      box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
      min-width: inherit; }
      .skin-pkk .content-header .navbar-default .dropdown-menu > li > a {
        color: #666;
        font-weight: 600;
        -moz-osx-font-smoothing: auto;
        -webkit-font-smoothing: antialiased; }
      .skin-pkk .content-header .navbar-default .dropdown-menu > li > a:hover {
        background-color: #F5F5F5; }
.skin-pkk .content {
  padding: 0; }
.skin-pkk .sonata-ba-content {
  padding: 15px; }
.skin-pkk .user-panel > .image > img {
  border: 1px solid #444; }
.skin-pkk .user-panel > .info {
  color: #EEE; }
  .skin-pkk .user-panel > .info > a {
    color: #EEE; }
.skin-pkk .main-sidebar,
.skin-pkk .left-side,
.skin-pkk .wrapper {
  background: #222; }
.skin-pkk .main-sidebar .sidebar .sidebar-form {
  border: 0;
  border-radius: 0;
  margin: 0; }
  .skin-pkk .main-sidebar .sidebar .sidebar-form input[type="text"],
  .skin-pkk .main-sidebar .sidebar .sidebar-form .input-group-btn .btn {
    background-color: #4B4B4B;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    color: #CCC;
    -webkit-font-smoothing: antialiased;
    height: 40px;
    outline: none; }
  .skin-pkk .main-sidebar .sidebar .sidebar-form .input-group-btn .btn:hover {
    color: #FFF; }
  .skin-pkk .main-sidebar .sidebar .sidebar-form input[type="text"]:focus,
  .skin-pkk .main-sidebar .sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #545454;
    color: #FFF;
    height: 45px; }
.skin-pkk .main-sidebar .sidebar > .sidebar-menu > li.header {
  background: #1D1D1D;
  color: rgba(255, 255, 255, 0.4); }
.skin-pkk .main-sidebar .sidebar > .sidebar-menu > li a {
  font-weight: 600;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased; }
.skin-pkk .main-sidebar .sidebar > .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  margin-right: 1px; }
  .skin-pkk .main-sidebar .sidebar > .sidebar-menu > li > a:hover {
    color: #FFF;
    background: #444;
    border-left-color: #FFF; }
.skin-pkk .main-sidebar .sidebar > .sidebar-menu > li.active > a {
  background: #870042 linear-gradient(to bottom, #99004B, #870042);
  border-color: transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #FFF; }
.skin-pkk .main-sidebar .sidebar > .sidebar-menu > li > .treeview-menu {
  background: #333; }
.skin-pkk .main-sidebar .sidebar a {
  color: #EEE; }
  .skin-pkk .main-sidebar .sidebar a:hover {
    text-decoration: none; }
.skin-pkk .main-sidebar .treeview-menu > li > a {
  color: #CCC; }
.skin-pkk .main-sidebar .treeview-menu > li.active > a, .skin-pkk .main-sidebar .treeview-menu > li > a:hover {
  color: #FFF; }
.skin-pkk .main-sidebar .sidebar-form {
  border-radius: 3px;
  border: 1px solid #3C3C3C;
  margin: 10px 10px; }
  .skin-pkk .main-sidebar .sidebar-form input[type="text"], .skin-pkk .main-sidebar .sidebar-form .btn {
    box-shadow: none;
    background-color: #3C3C3C;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15); }
  .skin-pkk .main-sidebar .sidebar-form input[type="text"] {
    color: #666;
    border-radius: 2px 0 0 2px; }
    .skin-pkk .main-sidebar .sidebar-form input[type="text"]:focus {
      background-color: #FFF;
      color: #666; }
      .skin-pkk .main-sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
        background-color: #FFF;
        color: #666;
        border-left-color: #FFF; }
  .skin-pkk .main-sidebar .sidebar-form .btn {
    color: #999;
    border-radius: 0 2px 2px 0; }
.skin-pkk.sidebar-collapse .main-header .logo {
  display: none; }
.skin-pkk.sidebar-collapse .main-header .navbar {
  margin-left: 0; }
.skin-pkk .sonata-ba-form {
  padding: 0 15px; }
.skin-pkk .box {
  border: 0; }
  .skin-pkk .box.box-primary {
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1); }
  .skin-pkk .box.box-solid.box-default {
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
    border: 0; }
  .skin-pkk .box.box-solid .box-header {
    background: #EEE linear-gradient(to bottom, #FFF, #EEE) !important;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    padding: 10px !important; }
.skin-pkk table tr.sonata-ba-list-row-selected td,
.skin-pkk table tr.sonata-ba-list-row-selected th {
  background: #EDCEDB;
  border-color: #E4C6D3; }
.skin-pkk table.table-bordered {
  border: 0; }
.skin-pkk table th,
.skin-pkk table td {
  vertical-align: middle !important; }
.skin-pkk table .sonata-ba-list-field-integer {
  text-align: center; }

@media (max-width: 767px) {
  .skin-pkk .main-header > .logo {
    display: none; }

  .fixed .content-wrapper,
  .fixed .right-side {
    padding-top: 50px; }

  .main-sidebar,
  .left-side {
    padding-top: 50px !important; } }
/* iCheck plugin with custom skin */
.icheckbox_flat-blue, .iradio_flat-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/pink.png) no-repeat;
  border: none;
  cursor: pointer; }

.icheckbox_flat-blue {
  background-position: 0 0; }
  .icheckbox_flat-blue.checked {
    background-position: -22px 0; }
  .icheckbox_flat-blue.disabled {
    background-position: -44px 0;
    cursor: default; }
  .icheckbox_flat-blue.checked.disabled {
    background-position: -66px 0; }

.iradio_flat-blue {
  background-position: -88px 0; }
  .iradio_flat-blue.checked {
    background-position: -110px 0; }
  .iradio_flat-blue.disabled {
    background-position: -132px 0;
    cursor: default; }
  .iradio_flat-blue.checked.disabled {
    background-position: -154px 0; }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_flat-blue, .iradio_flat-blue {
    background-image: url(../images/pink@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px; } }
.navbar-default .navbar-brand {
  font-weight: 400; }

.box {
  border-color: #DFD3D7; }

.box.box-solid.box-default {
  border-color: #DFD3D7; }

.label-default {
  background-color: #ECE4E9;
  color: #A76A7D; }

.box.box-primary {
  border-color: #870042; }

.table .label {
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase; }

textarea {
  min-height: 150px; }

.btn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.dropdown-menu .dropdown-header {
  color: #333;
  font-weight: 600; }

.modal-content .box.box-primary {
  border: 0; }

.modal-content .box.box-primary .box-header {
  display: none; }

.sonata-ba-action.btn:not(:hover) {
  background: #00A65A;
  border-color: #008D4C;
  color: #FFF;
  font-size: 14px; }

.sonata-ba-action.btn:hover {
  font-size: 14px; }

.btn {
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

.btn .fa {
  margin-right: 5px; }

.sonata-ba-field .icheckbox_flat-blue {
  margin-right: 5px; }

.sonata-ba-show-many-to-many {
  list-style: square; }

.btn-default {
  text-shadow: none; }

/*# sourceMappingURL=custom.css.map */
