/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */

body {
	font: 400 14px 'proxima-nova', Helvetica, Arial, sans-serif;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: subpixel-antialiased;
}

.content-wrapper,
.right-side,
.login-page,
.register-page {
	background: radial-gradient(circle farthest-side at 100% 100%, #FFF, #EFEFEF 80%, #EEE);
}

a {
	color: #870042;
	font-weight: 600;

	.select2-choice {
		font-weight: 400;
	}

	.btn-danger,
	.btn-success {
		color: #FFF;
	}

	&:hover,
	&:active,
	&:visited {
		color: #9B004E;
		text-decoration: underline;
	}
}

.btn {
	border-radius: 1px !important;

	&.btn-sm {
		line-height: inherit;
		padding: 6px 11px;
	}

	&.btn-default {
		background: #FFF;
		border-color: transparent;
		box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
		color: #444 !important;

		&.btn-sm {
			box-shadow: 0 1px 25px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .05), 0 0 2px rgba(0, 0, 0, .1);
		}

		&:focus,
		&:hover {
			background: #870042 linear-gradient(to bottom, #99004B, #870042);
			border-color: #870042;
			color: #FFF !important;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
		}

		&:active {
			background: #870042 linear-gradient(to bottom, #870042, #870042);
			border-color: #870042;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
			color: #FFF !important;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
		}
	}

	&.btn-primary {
		background: #9A004B linear-gradient(to bottom, #99004B, #870042);
		border: 0;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .4);
		color: #FFF;
		outline: none !important;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .15);

		&:focus,
		&:hover {
			background: #A80052 linear-gradient(to bottom, #A80052, #9A004B);
		}

		&:active {
			background: #9A004B linear-gradient(to bottom, #9A004B, #9A004B);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3) !important;
		}
	}
}

.btn-primary:hover,
.btn-primary:focus {
	background: linear-gradient(to bottom, #A80052, #9A004B);
}

.form-control {
	background: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 1px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	font-size: 16px;
	height: 40px;
	padding: 8px 12px;

	&[type="text"]:hover,
	&[type="password"]:hover,
	&[type="email"]:hover,
	textarea:hover {
		border: 1px solid #BBB;
	}

	&[type="text"]:focus,
	&[type="password"]:focus,
	&[type="email"]:focus,
	textarea:focus {
		border-color: rgba(135, 0, 66, .3) !important;
		box-shadow: 0 0 4px rgba(135, 0, 66, .3);
	}
}

.login-page {

	.login-box-body {
		background: #FFF;
		border: 0;
		box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
		position: relative;

		.form-group .glyphicon {
			display: none;
		}

		.checkbox input[type="checkbox"],
		.checkbox-inline input[type="checkbox"],
		.radio input[type="radio"],
		.radio-inline input[type="radio"] {
			margin: auto 10px auto auto;
			position: inherit;
		}

		.alert {
			border-radius: 1px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.btn {
			padding: 9px 25px;
		}
	}

	.login-logo {
		background: url(../images/logo_small.png) no-repeat center;
		font-weight: 100;
		text-indent: 9999px;
	}

	.login-box-msg {
		font: 300 18px 'proxima-nova', Helvetica, Arial, sans-serif;
	}
}

.skin-pkk {

	.main-header {
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

		.navbar-toggle {
			color: #333;
		}

		.navbar-brand {
			border-right: 1px solid #EEE;
			color: #333;
		}

		> {
			.navbar {
				background-color: #FFF;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);

				.nav {

					> li > a {
						color: #333;

						&:hover,
						&:active,
						&:focus {
							background: #870042 linear-gradient(to bottom, #99004B, #870042);
							border-color: #870042;
							color: #FFF;
							text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
						}
					}

					.open > a {
						background: #9A004B linear-gradient(to bottom, #A80052, #9A004B) !important;
						border-right-color: #9A004B !important;
						color: #FFF !important;
						text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
					}
				}

				.navbar-custom-menu > .nav {
					margin-right: 10px;
				}

				.sidebar-toggle {
					color: #333;

					&:hover {
						color: #999;
						background: #FFF;
					}
				}

				> .sidebar-toggle {
					color: #333;
					border-right: 1px solid #EEE;
				}

				.navbar-custom-menu .navbar-nav > li > a,
				.navbar-right > li > a {
					border-right-width: 0;
				}

				.dropdown-menu {
					background: #FFF;
					border: 0;
					border-radius: 1px;
					box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
					min-width: inherit;

					> li > a:hover {
						background-color: #F5F5F5;
					}
				}

				.sidebar-toggle {
					background: #870042 linear-gradient(to bottom, #99004B, #870042) !important;
					border-color: #870042 !important;
					color: #FFF !important;
					-webkit-font-smoothing: antialiased;
					height: 50px;
					line-height: 50px;
					overflow: hidden;
					padding: 0 18px;
					text-align: center;
					text-decoration: none;

					&:hover {
						background: linear-gradient(to bottom, #A80052, #9A004B) !important;
					}
				}

				.breadcrumb {
					float: left;
					height: 50px;
					line-height: 50px;
					padding: 0;

					li {
						color: #999;
						float: left;
						font-weight: 600;
						-webkit-font-smoothing: antialiased;

						a:hover {
							color: #444;
							background: #F5F5F5;
						}
					}

					li + li:before {
						display: none;
					}

					a {
						background: #FFF;
						box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
						color: #870042 !important;
						-webkit-font-smoothing: antialiased;
						height: 50px;
						line-height: 50px;
						overflow: hidden;
						padding: 0 18px;
					}
				}
			}

			.logo {
				background-color: #222;
				border-bottom: 0 solid transparent;
				border-right: 1px solid #222;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
				color: #333;
				transition: background-color 150ms ease-in-out;

				img {
					max-width: inherit;
					padding-bottom: 7px;
				}

				> a {
					color: #333;
				}

				&:hover {
					background-color: #333;
				}
			}
		}

		.navbar-custom-menu {
			margin-right: 0 !important;
		}

		.navbar-nav {
			margin-right: 0 !important;

			& > li > a {
				background: #FFF;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
				-webkit-font-smoothing: antialiased;
			}
		}

		li.user-header {
			background-color: #222;
		}
	}

	.content-header {
		background: transparent;
		box-shadow: none;
		padding: 0;

		.navbar-nav {
			margin: 0;
		}

		.navbar-default {
			background: none;
			border: 0;
			border-radius: 0;
			color: #999;
			font-weight: 400;
			-moz-osx-font-smoothing: auto;
			-webkit-font-smoothing: antialiased;
			margin: 0;

			.navbar-collapse,
			.navbar-form {
				border: 0;
			}

			.navbar-collapse {
				padding: 0;
			}

			.nav {

				> li > a {
					color: #666;

					&:hover,
					&:active,
					&:focus {
						background: #870042 linear-gradient(to bottom, #99004B, #870042);
						border-color: #870042;
						color: #FFF;
						text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
					}
				}

				.open > a {
					background: #9A004B linear-gradient(to bottom, #A80052, #9A004B) !important;
					border-right-color: #9A004B !important;
					color: #FFF !important;
					text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
				}
			}

			.dropdown-menu {
				background: #FFF;
				border: 0;
				border-radius: 1px;
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
				min-width: inherit;

				> li > a {
					color: #666;
					font-weight: 600;
					-moz-osx-font-smoothing: auto;
					-webkit-font-smoothing: antialiased;
				}

				> li > a:hover {
					background-color: #F5F5F5;
				}
			}
		}
	}

	.content {
		padding: 0;
	}

	.sonata-ba-content {
		padding: 15px;
	}

	.user-panel > {

		.image > img {
			border: 1px solid #444;
		}

		.info {
			color: #EEE;
			> a {
				color: #EEE;
			}
		}
	}

	.main-sidebar,
	.left-side,
	.wrapper {
		background: #222;
	}

	.main-sidebar {

		.sidebar {

			.sidebar-form {
				border: 0;
				border-radius: 0;
				margin: 0;

				input[type="text"],
				.input-group-btn .btn {
					background-color: #4B4B4B;
					border: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					box-shadow: none;
					color: #CCC;
					-webkit-font-smoothing: antialiased;
					height: 40px;
					outline: none;
				}

				.input-group-btn .btn:hover {
					color: #FFF;
				}

				input[type="text"]:focus,
				input[type="text"]:focus + .input-group-btn .btn {
					background-color: #545454;
					color: #FFF;
					height: 45px;
				}
			}

			> .sidebar-menu > li {

				&.header {
					background: #1D1D1D;
					color: rgba(255, 255, 255, 0.4);
				}

				a {
					font-weight: 600;
					-moz-osx-font-smoothing: auto;
					-webkit-font-smoothing: antialiased;
				}

				> a {
					border-left: 3px solid transparent;
					margin-right: 1px;

					&:hover {
						color: #FFF;
						background: #444;
						border-left-color: #FFF;
					}
				}

				&.active > a {
					background: #870042 linear-gradient(to bottom, #99004B, #870042);
					border-color: transparent;
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
					color: #FFF;
				}

				> .treeview-menu {
					background: #333;
				}
			}

			a {
				color: #EEE;
				&:hover {
					text-decoration: none;
				}
			}
		}

		.treeview-menu > li {

			> a {
				color: #CCC;
			}

			&.active > a, > a:hover {
				color: #FFF;
			}
		}

		.sidebar-form {
			border-radius: 3px;
			border: 1px solid #3C3C3C;
			margin: 10px 10px;

			input[type="text"], .btn {
				box-shadow: none;
				background-color: #3C3C3C;
				border: 1px solid transparent;
				height: 35px;
				-webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
				-o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
				transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
			}

			input[type="text"] {
				color: #666;
				border-radius: 2px 0 0 2px;

				&:focus {
					background-color: #FFF;
					color: #666;
					+ .input-group-btn .btn {
						background-color: #FFF;
						color: #666;
						border-left-color: #FFF;
					}
				}
			}

			.btn {
				color: #999;
				border-radius: 0 2px 2px 0;
			}
		}
	}

	&.sidebar-collapse {

		.main-header {

			.logo {
				display: none;
			}

			.navbar {
				margin-left: 0;
			}
		}
	}

	.sonata-ba-form {
		padding: 0 15px;
	}

	.box {
		border: 0;

		&.box-primary {
			box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
		}

		&.box-solid {

			&.box-default {
				box-shadow: 0 1px 50px rgba(0, 0, 0, .1), 0 0 15px rgba(0, 0, 0, .05), 0 0 4px rgba(0, 0, 0, .1);
				border: 0;
			}

			.box-header {
				background: #EEE linear-gradient(to bottom, #FFF, #EEE) !important;
				border-bottom: 1px solid #DDD;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
				padding: 10px !important;
			}
		}
	}

	table {

		tr.sonata-ba-list-row-selected td,
		tr.sonata-ba-list-row-selected th {
			background: #EDCEDB;
			border-color: #E4C6D3;
		}

		&.table-bordered {
			border: 0;
		}

		th,
		td {
			vertical-align: middle !important;
		}

		.sonata-ba-list-field-integer {
			text-align: center;
		}
	}
}

@media (max-width: 767px) {

	.skin-pkk .main-header > .logo {
		display: none;
	}

	.fixed {

		.content-wrapper,
		.right-side {
			padding-top: 50px;
		}
	}

	.main-sidebar,
	.left-side {
		padding-top: 50px !important;
	}
}

/* iCheck plugin with custom skin */

.icheckbox_flat-blue, .iradio_flat-blue {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	background: url(../images/pink.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_flat-blue {
	background-position: 0 0;

	&.checked {
		background-position: -22px 0;
	}

	&.disabled {
		background-position: -44px 0;
		cursor: default;
	}

	&.checked.disabled {
		background-position: -66px 0;
	}
}

.iradio_flat-blue {
	background-position: -88px 0;

	&.checked {
		background-position: -110px 0;
	}

	&.disabled {
		background-position: -132px 0;
		cursor: default;
	}

	&.checked.disabled {
		background-position: -154px 0;
	}
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.icheckbox_flat-blue, .iradio_flat-blue {
		background-image: url(../images/pink@2x.png);
		-webkit-background-size: 176px 22px;
		background-size: 176px 22px;
	}
}

.navbar-default .navbar-brand {
	font-weight: 400;
}

.box {
	border-color: #DFD3D7;
}

.box.box-solid.box-default {
	border-color: #DFD3D7;
}

.label-default {
	background-color: #ECE4E9;
	color: #A76A7D;
}

.box.box-primary {
	border-color: #870042;
}

.table .label {
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

textarea {
	min-height: 150px;
}

.btn {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.dropdown-menu .dropdown-header {
	color: #333;
	font-weight: 600;
}

.modal-content .box.box-primary {
	border: 0;
}

.modal-content .box.box-primary .box-header {
	display: none;
}

.sonata-ba-action.btn:not(:hover) {
	background: #00A65A;
	border-color: #008D4C;
	color: #FFF;
	font-size: 14px;
}

.sonata-ba-action.btn:hover {
	font-size: 14px;
}

.btn {
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.btn .fa {
	margin-right: 5px;
}

.sonata-ba-field .icheckbox_flat-blue {
	margin-right: 5px;
}

.sonata-ba-show-many-to-many {
	list-style: square;
}

.btn-default {
	text-shadow: none;
}
