<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% block head %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts_head %}{% endblock %}
</head>

<body class="{% block theme %}default{% endblock %}">
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body %}{% endblock %}

{% block javascripts_body %}{% endblock %}
</body>

</html>
