<div class="page about-us">
	<h1>Meist</h1>
	<p>
		Põlevkivi Kompetentsikeskus koondab endas maailma parima põlevkivi kaevandamise, -töötlemise ja
		-energeetika alase valdkondliku oskusteabe ja selle arendamisvõimekuse.
		PKK-d iseloomustab võimekus müüa või vahendada (välis)partnervõrgustiku kaudu oskusteavet
		põlevkivi kaevandamise, -töötlemise ja -energeetika ettevõtetele, tagada kompetentside
		parim võimalik tase ning võimaldada põlevkivivaldkonna oskusteavet kasutada ka teistes
		sidusvaldkondades. Samuti koondab PKK endas oskusteavet ja selle rakendamise võimekust
		põlevkivivaldkonnaga seotud keskkonnatemaatikas.
	</p>
</div>
