<div class="course-read">
	<a href="#" class="btn btn-default" ng-click="vm.goBack()">
		 <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Kõik kursused
	</a>

	<h1>{[{ vm.course.name }]}</h1>

	<div class="row">
		<div class="col col-md-12"><p>{[{ vm.course.description }]}</p></div>
	</div>

	<hr />

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<span class="label">Registreeritute arv</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<span class="data">{[{ vm.course.participations.length }]} / {[{ vm.course.max_participants }]}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<span class="label">Algus</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<span class="data">{[{ vm.course.start | date: 'dd.MM.yyyy' }]}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<span class="label">Lõpp</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<span class="data">{[{ vm.course.end | date: 'dd.MM.yyyy' }]}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<span class="label">Registreerumine avatud</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<span class="data">{[{ vm.course.registration_start | date: 'dd.MM.yyyy' }]}</span>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<span class="label">Registreerumine lõpeb</span>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<span class="data">{[{ vm.course.registration_end | date: 'dd.MM.yyyy' }]}</span>
		</div>
	</div>

	<hr />

	<div class="row" ng-show="vm.ready">
		<div class="col col-md-6">
			<button class="btn btn-success" ng-hide="vm.current_user_is_registered" ng-click="vm.registerToCourse()">
				Registreeru sündmusele
			</button>
			<button class="btn btn-danger" ng-show="vm.current_user_is_registered" ng-click="vm.cancelRegistration()">
				Tühista registratsioon
			</button>
		</div>
	</div>

	<hr />
</div>
