<div class="well">
	<button class="btn btn-default btn-raised" ng-click="vm.goBack()">
		{#<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>#}
		Kõik kursused
	</button>
	<h1>Tagasiside sündmusele: </h1>
	<div class="row">
		<div class="col col-md-12">
			Bacon ipsum dolor amet ham hock sirloin filet mignon, t-bone turducken porchetta tongue pancetta pork chop
			tri-tip ball tip beef ribs chicken kielbasa drumstick.
			Boudin strip steak shankle, shank ground round leberkas jerky meatball jowl bacon flank. Meatloaf strip
			steak porchetta, ham hock bresaola filet mignon capicola pork
			loin landjaeger spare ribs hamburger kielbasa tail sausage swine. Sausage andouille salami corned beef
			pancetta pork loin. Spare ribs jerky tongue chicken brisket
			drumstick rump capicola tri-tip fatback short loin pancetta shank pork belly turducken. Pastrami short ribs
			corned beef, sirloin brisket meatloaf chicken swine pork
			belly t-bone pork chop flank tongue pork loin.
		</div>
	</div>
	<hr />
	<h2>Andmed sündmuste kohta</h2>
	<div class="row">
		<div class="col col-md-3">
			<label>Kursuse nimekiri</label>
		</div>
		<div class="col col-md-9">
			{[{ vm.courseName }]}
		</div>
	</div>
	<div class="row">
		<div class="col col-md-3">
			<label>Lektor</label>
		</div>
		<div class="col col-md-9">
			{[{ vm.lecturerName }]}
		</div>
	</div>
	<hr />
	<div class="row" ng-repeat="question_group in vm.feedback.question_groups">
		<div class="col col-md-12">

			<h1>{[{ question_group.name }]}</h1>

			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Küsimus</th>
					<th>Vastus</th>
				</tr>
				<tr ng-repeat="question in question_group.questions">
					<td>{[{ $index + 1 }]}</td>
					<td>{[{ question.text }]}</td>
					<td>
                        <span ng-show="question.type == 'string' ">
                            <input class="form-control" type="text" ng-model="question.answer"/>
                        </span>
                        <span ng-show="question.type == 'from_five_to_five' ">
                            <select class="form-control" ng-model="question.answer"
									ng-options="option for option in question.options">
							</select>
							{#<input class="form-control" type="text" ng-model="question.answer_int" />#}
                        </span>
					</td>
				</tr>
			</table>

		</div>
	</div>
	<button class="btn btn-success" ng-click="vm.submitFeedback()">Saada</button>
</div>
