<div class="courses home">
	<div ng-show="vm.upcomingCourses && vm.upcomingCourses.length > 0">
		<h3>Tulevased kursused</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="course in vm.upcomingCourses">
						<div class="course">
							<h4>{[{ course.name }]}</h4>
							<div class="description">{[{ course.description | limitTo: 160 }]}{[{ course.description.length > 160 ? '...' : '' }]}</div>
							<div class="overlay">
								<ul>
									<li title="Koht" ng-show="course.location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> Koht:</span> {[{ course.location }]}</li>
									<li title="Registreeritute arv"><span class="glyphicon glyphicon-user" aria-hidden="true"> Registreeritute arv:</span> {[{ course.participations.length }]} / {[{ course.max_participants }]}</li>
									<li title="Algus" ng-show="course.start" class="start"><span class="glyphicon glyphicon-calendar" aria-hidden="true"> Algus:</span> {[{ course.start | pkkDateFormat }]}</li>
									<li title="Lõpp" ng-show="course.end" class="end"><span class="glyphicon glyphicon-calendar" aria-hidden="true"> Lõpp:</span> {[{ course.end | pkkDateFormat }]}</li>
								</ul>
							</div>
							<div class="actions">
								<a href="#" class="btn btn-default" ng-class="!loggedIn ? 'full-width' : ''" ng-click="vm.goToCourse(course.id)">Loe edasi…</a>
								<a href="#" class="btn btn-success" ng-class="!loggedIn ? 'hidden' : ''" ng-hide="course.registered" ng-click="vm.registerToCourse(course)">Registreeri</a>
								<a href="#" class="btn btn-danger" ng-show="course.registered" ng-click="vm.cancelRegistration(course)">Tühista</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="vm.endedCourses && vm.endedCourses.length > 0">
		<h3>Lõpenud kursused</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="course in vm.endedCourses">
						<div class="course">
							<h4>{[{ course.name }]}</h4>
							<div class="description">{[{ course.description | limitTo: 160 }]}{[{ course.description.length > 160 ? '...' : '' }]}</div>
							<div class="overlay">
								<ul>
									<li title="Koht" ng-show="course.location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> Koht:</span> {[{ course.location }]}</li>
									<li title="Registreeritute arv"><span class="glyphicon glyphicon-user" aria-hidden="true"> Registreeritute arv:</span> {[{ course.participations.length }]} / {[{ course.max_participants }]}</li>
									<li title="Algus" ng-show="course.start" class="start"><span class="glyphicon glyphicon-calendar" aria-hidden="true"> Algus:</span> {[{ course.start | pkkDateFormat }]}</li>
									<li title="Lõpp" ng-show="course.end" class="end"><span class="glyphicon glyphicon-calendar" aria-hidden="true"> Lõpp:</span> {[{ course.end | pkkDateFormat }]}</li>
								</ul>
							</div>
							<div class="actions">
								<a href="#" class="btn btn-default full-width" ng-click="vm.goToCourse(course.id)">Loe edasi…</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
