<div class="page me">
	<h1>Mina</h1>

	<form class="form-horizontal">
		<div class="well">
			<div class="form-group">
				<label for="email" class="col-sm-4 control-label">Email</label>
				<div class="col-sm-5">
					<input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{[{ vm.me.email }]}" />
				</div>
			</div>
			<div class="form-group">
				<label for="username" class="col-sm-4 control-label">Kasutajatunnus</label>
				<div class="col-sm-5">
					{[{ vm.me.username }]}
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Ees- ja perenimi</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="name" id="name" placeholder="Ees- ja perenimi" value="{[{ vm.me.name }]}"/>
				</div>
			</div>
			<div class="form-group">
				<label for="organization" class="col-sm-4 control-label">Organisatsioon</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="organization" id="organization" placeholder="Organisatsioon" value="{[{ vm.me.organization }]}"/>
				</div>
			</div>
			<div class="form-group">
				<label for="gender" class="col-sm-4 control-label">Sugu</label>
				<div class="col-sm-5">
					<div class="radio">
						<label>
							<input type="radio" name="gender" id="mees" value="m" checked>
							Mees
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="gender" id="naine" value="n">
							Naine
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-4 control-label">Telefon</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="phone" id="phone" placeholder="Telefon" value="{[{ vm.me.phone }]}" />
				</div>
			</div>
		</div>
		<div class="form-group" ng-init="lol = 'Muuda'">
			<div class="col-sm-12">
				<button class="btn btn-success" ng-click="lol = 'I was too lazy to implement this'">{[{ lol }]}</button>
			</div>
		</div>
	</form>
</div>
