<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <img src="/assets/images/logo_small.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Pealeht</a>
                <li><a ui-sref="courses">Kursused</a></li>
                <li><a ui-sref="about">Meist</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="ready && me" ui-sref="me">{[{ me.name }]}</a></li>
                <li><a ng-show="ready && me" href="{{ url('sonata_user_security_logout') }}" target="_self">Logi välja</a></li>
                <li><a ng-show="ready && !me" href="{{ url('sonata_user_security_login') }}" target="_self">Logi sisse</a></li>
            </ul>
        </div>
    </div>
</div>
